<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Théotime Loiseau"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cardashian</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div id="logoCardashian">
                    <div id="card1" class="card"></div>
                    <div id="card2" class="card"></div>
                    <div id="card3" class="card"></div>
                    <a class="navbar-brand" href="#">Cardashian</a>
                </div>
            </div>
            <form class="navbar-form navbar-right" role="search">
                <input type="text" class="form-control searchbar" placeholder="Search">
            </form>
        </div>
    </nav>
    <div class="row row-intro">
        <div class="container">
            <div class="col-lg-12">
                <h1>Learn efficiently, even without an Internet connection !</h1>
                <h2>Cardashian: Flashcards meant to be famous</h2>
                <div class="col-md-4 col-md-offset-2">
                    <button class="btn btn-block btn-home btn-local-desks">My local desks</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-block btn-home btn-popular-desks">Popular desks</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <h3>What is <span class="blue-text">Cardashian</span>?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et sagittis metus. Proin semper vel odio nec dignissim. Donec ac tincidunt mi. Sed congue nec augue in condimentum. Mauris a augue at elit varius sagittis a sit amet massa. Quisque ultrices interdum lacus, non congue risus ullamcorper eu. Nulla risus mauris, rhoncus vel volutpat vitae, imperdiet sit amet leo. Pellentesque tellus augue, aliquam vel lectus non, egestas consectetur turpis.</p>
                <p>In rhoncus quis eros quis dignissim. Pellentesque rhoncus purus a tortor faucibus gravida. Vivamus venenatis, sem id dignissim dictum, lacus diam facilisis quam, ut accumsan lorem eros vel nisi. Integer lacinia luctus feugiat. Donec odio purus, sodales condimentum urna vel, lacinia vehicula nisl. Nullam vestibulum fermentum ornare. Nunc mattis libero at magna pellentesque mollis. Fusce ligula lacus, varius eget ligula vitae, fringilla hendrerit tortor. Suspendisse sit amet ultricies ligula. Mauris tempus felis massa, non tempor enim dapibus vel. Suspendisse porta et magna sed posuere. Duis vestibulum, ante ut semper venenatis, enim risus tristique est, nec gravida lacus leo ut neque. Curabitur eleifend viverra vehicula.</p>
            </div>
        </div>
        <footer>
            © Théotime Loiseau 2014
        </footer>
    </div>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script async defer src="/js/cardashian.js"></script>
</body>
</html>
