@font-face {
  font-family: 'features';
  src: url('../font/features.eot?15249213');
  src: url('../font/features.eot?15249213#iefix') format('embedded-opentype'),
       url('../font/features.woff?15249213') format('woff'),
       url('../font/features.ttf?15249213') format('truetype'),
       url('../font/features.svg?15249213#features') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'features';
    src: url('../font/features.svg?15249213#features') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "features";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-dollar:before { content: '\e802'; } /* '' */
.icon-globe:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-left-open-big:before { content: '\e805'; } /* '' */
.icon-flash:before { content: '\e806'; } /* '' */
.icon-cancel-1:before { content: '\e807'; } /* '' */
.icon-block:before { content: '\e808'; } /* '' */
.icon-right-open-big:before { content: '\e809'; } /* '' */
/*
 * Variables
 */
/*
 * Homepage
 */
body {
  padding-top: 80px;
  background: #f1f1f1;
}
p {
  text-align: justify;
}
footer {
  padding: 20px 0 20px 0;
  background: white;
  border-top: 1px solid #e2e2e2;
  text-align: center;
  color: #adadad;
  font-weight: 100;
}
h1 {
  padding: 30px 0 10px 0;
  font-family: 'Raleway', 'Helvetica Neue', 'Century Gothic', sans-serif;
  font-weight: 100;
  font-size: 36px;
  text-shadow: 1px 1px 2px black;
}
h2 {
  padding: 10px 0 40px 0;
  font-size: 22px;
  text-shadow: 1px 1px 2px black;
}
h3 {
  font-family: 'Raleway', 'Helvetica Neue', 'Century Gothic', sans-serif;
  font-weight: 100;
  font-size: 32px;
}
span.blue-text {
  color: #00afec;
}
.btn-home {
  font-size: 22px;
  outline: none;
  margin-bottom: 20px;
  min-height: 50px;
}
.btn-local-desks {
  background: #3fb34f;
}
.btn-popular-desks {
  background: #00afec;
}
.navbar {
  min-height: 80px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.navbar .searchbar {
  margin-top: 18px;
  background: #f1f1f1;
  border: none;
}
#logoCardashian {
  position: relative;
  width: 70px;
  height: 80px;
}
#logoCardashian .navbar-brand {
  margin-top: 16px;
  margin-left: 60px;
  font-size: 32px;
  color: #adadad;
  font-family: 'Raleway', 'Helvetica Neue', 'Century Gothic', sans-serif;
  font-weight: 100;
}
#logoCardashian .card {
  position: absolute;
  width: 22px;
  height: 34px;
  top: 24px;
  border-radius: 5px;
}
#logoCardashian #card1 {
  width: 28px;
  height: 40px;
  top: 20px;
  left: 20px;
  background: #e7e7e7;
  z-index: 5;
}
#logoCardashian #card2 {
  left: 14px;
  background: #adadad;
  transform: rotate(-10deg);
  z-index: 4;
}
#logoCardashian #card3 {
  left: 32px;
  background: #d2d2d2;
  transform: rotate(10deg);
  z-index: 3;
}
.row-intro {
  background: url('../img/shattered-island.gif') repeat;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
.row-description {
  padding: 20px 0 20px 0;
}
.col-feature {
  text-align: center;
  margin: 30px 0 40px 0;
}
.col-feature p {
  text-align: center;
}
.col-feature h4 {
  font-size: 26px;
  font-weight: bold;
}
.card-feature {
  padding: 20px;
  background: white;
}
.feature-icons {
  position: relative;
  width: 120px;
  height: 120px;
  margin: auto;
}
span.feature-icon {
  position: absolute;
  display: block;
  font-size: 80px;
  color: #adadad;
}
span.feature-icon.icon-flash {
  color: rgba(255, 214, 0, 0.7);
  transform: rotate(15deg);
  font-size: 90px;
  top: -7px;
  left: -7px;
}
span.feature-icon.icon-cancel-1 {
  color: rgba(219, 25, 25, 0.7);
  font-size: 120px;
  top: -24px;
  left: -28px;
}
span.feature-icon.icon-block {
  color: rgba(219, 25, 25, 0.7);
  font-size: 100px;
  top: -14px;
  left: -14px;
}
/*
 * Questions
 */
.pannel-question {
  background: url('../img/tweed.png') repeat;
}
.question {
  min-height: 200px;
  background: white;
  margin: 30px 0 30px 0;
  box-shadow: 0 0 7px black;
}
.question-header {
  position: relative;
  background: #f1f1f1;
  height: 60px;
}
.question-header h4 {
  display: inline-block;
  font-size: 24px;
  font-family: 'Raleway', 'Helvetica Neue', 'Century Gothic', sans-serif;
  margin-top: 18px;
}
.question-header svg {
  position: relative;
  z-index: 10;
}
.question-header polygon {
  fill: #00afec;
}
.question-header .current-page {
  position: absolute;
  width: 40px;
  right: 30px;
  top: 6px;
  text-align: right;
  font-family: 'Raleway', 'Helvetica Neue', 'Century Gothic', sans-serif;
  font-size: 24px;
  z-index: 5;
}
.question-header .number-page {
  position: absolute;
  width: 34px;
  right: 0px;
  top: 25px;
  color: white;
  text-align: left;
  font-family: 'Raleway', 'Helvetica Neue', 'Century Gothic', sans-serif;
  font-size: 24px;
  z-index: 15;
  overflow: hidden;
}
.question-content {
  padding: 20px;
  text-align: justify;
  font-size: 16px;
}
.answer {
  min-height: 60px;
  background: white;
  margin: 0 0 30px 0;
  padding: 20px;
  text-align: justify;
  font-size: 16px;
  box-shadow: 0 0 7px black;
}
.answer .answer-icon {
  position: relative;
  top: -5px;
  color: rgba(224, 224, 224, 0.8);
  text-shadow: 1px 4px 6px #ffffff, 0 0 0 #9b9b9b, 1px 4px 6px #ffffff;
  font-size: 30px;
  line-height: 16px;
}
.question-quicklinks {
  margin: 20px 0 5px 0;
  text-align: center;
}
.question-quicklinks .question-quicklink {
  width: 20px;
  position: relative;
  display: inline-block;
  text-align: center;
}
.question-quicklinks .question-quicklink .border-quicklink {
  position: absolute;
  top: -1px;
  width: 20px;
  height: 2px;
  background: #2b2b2b;
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}
.question-quicklinks .question-quicklink .normal-quicklink {
  position: absolute;
  width: 20px;
  height: 20px;
}
.question-quicklinks .question-quicklink .mouseover-quicklink {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
}
.question-quicklinks .question-quicklink.correct .border-quicklink {
  background: #3fb34f;
}
.question-quicklinks .question-quicklink.incorrect .border-quicklink {
  background: #d1141b;
}
.question-quicklinks .question-quicklink.current .border-quicklink {
  background: #00afec;
}
.question-left {
  margin: 90px 0 0 0;
  text-align: right;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1), 1px -1px 0 rgba(255, 255, 255, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.6), -1px 1px 1px rgba(0, 0, 0, 0.6);
}
.question-right {
  margin: 90px 0 0 0;
  text-align: left;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.1), -1px 1px 0 rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.6), 1px -1px 1px rgba(0, 0, 0, 0.6);
}
.question-arrow {
  font-size: 50px;
  margin: 0 -25px;
}
