body {
    padding-top: 80px;
    background: rgb(241, 241, 242);
}

p {
    text-align: justify;
}

footer {
    padding: 20px 0 20px 0;
    background: white;
    border-top: 1px solid rgb(226, 226, 226);
    text-align: center;
    color: rgb(173, 173, 173);
    font-weight: 100;
}


h1 {
    padding: 30px 0 10px 0;
    font-family: 'Raleway', 'Helvetica Neue', 'Century Gothic', sans-serif;
    font-weight: 100;
    font-size: 36px;
    text-shadow: 1px 1px 2px rgb(0,0,0);
}

h2 {
    padding: 10px 0 40px 0;
    font-size: 22px;
    text-shadow: 1px 1px 2px rgb(0,0,0);
}

h3 {
    font-family: 'Raleway', 'Helvetica Neue', 'Century Gothic', sans-serif;
    font-weight: 100;
    font-size: 32px;
}

span.blue-text {
    color: rgb(0, 175, 236);
}

.btn-home {
    font-size: 22px;
    outline: none;
    margin-bottom: 20px;
    min-height: 50px;
}

.btn-local-desks {
    background: rgb(63, 179, 79);
} 

.btn-popular-desks {
    background: rgb(0, 175, 236);
}

.navbar {
    min-height: 80px;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.navbar .searchbar {
    margin-top: 18px;
    background: rgb(241, 241, 242);
    border: none;
}

#logoCardashian .navbar-brand {
    margin-top: 16px;
    margin-left: 60px;
    font-size: 32px;
    color: rgb(188, 190, 192);
    font-family: 'Raleway', 'Helvetica Neue', 'Century Gothic', sans-serif;
    font-weight: 100;
}

#logoCardashian {
    position: relative;
    width: 70px;
    height: 80px;
}

#logoCardashian .card {
    position: absolute;
    width: 22px;
    height: 34px;
    top: 24px;
    border-radius: 5px;
}

#logoCardashian #card1 {
    width: 28px;
    height: 40px;
    top: 20px;
    left: 20px;
    background: rgb(230, 231, 232);
    z-index: 5;
}

#logoCardashian #card2 {
    left: 14px;
    background: rgb(188, 190, 192);
    transform: rotate(-10deg);
    z-index: 4;
}

#logoCardashian #card3 {
    left: 32px;
    background: rgb(209, 211, 212);
    transform: rotate(10deg);
    z-index: 3;
}

.row-intro {
    background: url('../img/shattered-island.gif') repeat;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

.row-description {
    padding: 20px 0 20px 0;
}

.col-feature {
    text-align: center;
    margin: 30px 0 40px 0;
}

.col-feature p {
    text-align: center;
}

.col-feature h4 {
    font-size: 26px;
    font-weight: bold;
}

.card-feature {
    padding: 20px;
    background: white;
}

.feature-icons {
    position: relative;
    width: 120px;
    height: 120px;
    margin: auto;
}

span.feature-icon {
    position: absolute;
    display: block;
    font-size: 80px;
}

.feature-icon.icon-flash-1 {
    color: rgba(255, 214, 0, 0.7);
    transform: rotate(15deg);
    font-size: 90px;
    top: -7px;
    left: -7px;
}

.feature-icon.icon-cancel-2 {
    color: rgba(219, 25, 25, 0.7);
    font-size: 120px;
    top: -24px;
    left: -28px;
}

.feature-icon.icon-block {
    color: rgba(219, 25, 25, 0.7);
    font-size: 100px;
    top: -14px;
    left: -14px;
}