
.icon-globe:before { content: '\e800'; } /* '' */
.icon-flash:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-dollar:before { content: '\e804'; } /* '' */
.icon-flash-1:before { content: '\e805'; } /* '' */
.icon-block:before { content: '\e806'; } /* '' */
.icon-cancel-1:before { content: '\e807'; } /* '' */
.icon-cancel-2:before { content: '\e808'; } /* '' */